.header {
    position: relative;
    height: 80px;
    background-color: #5c6e91;
    color: white;
}

.header_user {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    font-size: 20px;
    padding: 10px 15px;
    background-color: #ffa45b;
    border-radius: 15px;
    cursor: pointer;
}