.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5c6e91;
}

.login_container {
    position: relative;
    max-width: 30%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    padding: 65px 0px;
    /* padding: 65px 55px; */
    background-color: #fbf6f0;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
    overflow: hidden;
}

.login_container > h1 {
    font-size: 50px;
    margin: 25px auto;
}

/* .ant-form {
    display: flex;
    flex-direction: column;
} */

.login_span {
    width: 200px;
    margin-left: -100px;
    text-align: right;
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    background-color: #ffa45b;
    border-radius: 99px;
}


.storeid, .user, .password {
    width: 300px;
    height: 34px;
    margin: 10px 0;
}

.login_btn {
    background-color: #ffa45b;
    color: white;
}

.login_btn:hover {
    border: none;
    background-color: rgba(255, 164, 91, .7);
    color: white;
}

.forget {
    color: #ffa45b;
    margin-top: 10px;
    cursor: pointer;
}

.formLogin > .ant-row {
    width: 100%;
}