.productInfo_container {
    margin: 20px 30px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
}

.productInfo_header {
    border-bottom: 1px solid gray;
}

.productInfo_header > p {
    margin: 10px 50px;
}

.ant-form {
    margin: 0 40px;
    margin-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ant-row {
    width: 50%;
}

.submit_btn {
    display: flex;
    justify-content: center;
}
