.productList_search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 30px;
    padding: 45px 55px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
}

.search_contaner {
    display: flex;
}

.product_id, .product_name {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.product_id > label, .product_name > label {
    margin-right: 20px;
}

.product_id > input, .product_name > input {
    border-radius: 10px;
}

.product_id > input:focus, .product_name > input:focus {
    outline: 0;
}

.search_btn {
    border: none;
    background-color: #ffa45b;
    color: white;
}

.search_btn:hover {
    border: none;
    background-color: rgba(255, 164, 91, .7);
    color: white;
}

.List {
    margin: 20px 30px;
    padding: 45px 55px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
}

.action {
    display: flex;
    justify-content: space-around;
}


.productSearch > .formLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


